<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    autoReload="true"  
    internalLogLevel="Info"  
    internalLogFile="c:/temp/internal-nlog.txt">  

<!-- enable asp.net core layout renderers -->  
<extensions>  
  <add assembly="NLog.Web.AspNetCore"/>  
</extensions>  

<!-- the targets to write to -->  
<targets>  
  <!-- File Target for all log messages with basic details -->  
  <target xsi:type="File" name="allfile" fileName="logs/sitekeeper-host-${shortdate}.log"  
          layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />  

  <!-- Console Target for all log messages with colored output -->  
  <target xsi:type="ColoredConsole" name="console" >
    <rowHighlightingRules>
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="White" backgroundColor="Red" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="LightBlue" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Blue" />
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
    </rowHighlightingRules>
  </target>  
</targets>  

<!-- rules to map from logger name to target -->  
<rules>  
  <!--All logs, including from Microsoft-->  
  <logger name="*" minlevel="Trace" writeTo="allfile" />  
  <logger name="*" minlevel="Debug" writeTo="console" />  

  <!-- Skip non-critical Microsoft logs and system logs to avoid verbosity -->  
  <!-- Adjust C# Info Level in appsettings.json to get Microsoft Logs -->  
  <logger name="Microsoft.*" maxlevel="Debug" final="true" />   
  <logger name="System.Net.Http.*" maxlevel="Debug" final="true" />  

</rules>  
</nlog>  
